/* Banner design */
/* Banner design */
.banner {
  background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), image-url('background.jpg');
  height: 100vh;
  background-position: cover;
  color:white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner h1 {
  font-size: 50px;
  margin-bottom: 15px;
}
.banner p {
  font-size: 25px;
  margin-bottom: 30px;
  color: #C9CFC8;
}
