/* Card design */
/* Card design */
.card {
  height: 200px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  color: white;
  position: relative;
  border-radius: 10px
}

.card-category {
  position: absolute;
  top: 7px;
  left: 7px;
  font-size: 20px;
}

.card-description {
  position: absolute;
  bottom: 1px;
  left: 7px;
  font-size: 20px;
}

.card-user {
  position: absolute;
  top: 7px;
  right: 7px;
  font-size: 20px;
}

.card-link {
  position: absolute;
  top : 0;
  right : 0;
  left : 0;
  bottom : 0;
}

.gray-background {
  background-color: $gray-lighter
}

